[TYPECHECK]
# 비활성화할 경고를 지정합니다.
disable = 
    E0401, # Unable to import 'rospy' : for ROS modules
    W0611, # Unused import sensor_msgs
    C0412, # Imports from package std_msgs are not grouped
    C0209, # Formatting a regular string which could be a f-string
    W1514, # Using open without explicitly specifying an encoding
    R1732, # Consider using 'with' for resource-allocating operations (consider-using-with). for subprocess.Popen